@charset "UTF-8";
.desc {
		padding: 12px;
		border: 1px solid grey;
		border-radius: 10px !important;
		
}
div.center {
	text-align: center;
}

div.book {
	display: inline-block;
	margin: 20px;
	text-align: center;
}

table.book {
	width: 80%;
	border: 0;
	margin: 0 auto;
}


table.normal {
	border: 0;
}

table.form{
	border: 0;
	padding: 4px;
	width: 80%;
	margin: 0 auto;
}

div.book_group {
	width: 80%; 
	margin: 0 auto;
}

div.next-row {
	clear:both;
}

img.book-small {
	width: 128px; height: 164px;
}

img.book-large {
	width: 240px; height: 300px;
}

#book-title {
	font-size: x-large;
	font-weight: bold;
}

#author {
	font-size: large;
	font-style: italic;
}

#description {
	text-align: justify;
	vertical-align: top;
}

#search-image {
	display: inline-block;
	margin: 20px; 
	width: 10%;
}

#search-description {
	display: inline-block; margin: 20px; vertical-align: top; width: 50%;
	text-align: left;
}

#search-price {
	display: inline-block; margin: 20px; vertical-align: top;
}